<template>
  <div>
    <div id="partI">
      <div class="row xl-gutter">

        <div class="col-12">
          <p class="caption">
            <span class="text-bold">{{ patient.user.first_name + " " + patient.user.last_name }}</span> <br>
            <em>Patiente</em>
          </p>
        </div>
        <div class="col-12 text-center">
          <img :src="patient.user.avatar" class="avatar bigAvatar" alt="user">
        </div>
        <div class="col-12 text-center">
          <q-btn loader color="purple" big flat @click="callEmit()">
            <QIcon name="call"></QIcon>
            <span :slot="loading">Appel en cours...</span>
          </q-btn>
          <q-btn color="purple" big flat>
            <QIcon name="camera"></QIcon>
          </q-btn>
          <q-btn color="purple" big flat>
            <QIcon name="chat"></QIcon>
          </q-btn>
        </div>
        <div>
          <audio src="statics/sound/10830.mp3" id="ring" loop></audio>
        </div>
      </div>
    </div>
    <div id="partII">
      <video id="you" muted="true" autoplay src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"></video>
      <video id="me" muted="true" autoplay src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4"></video>
    </div>
  </div>
</template>
<script>
  import {QBtn, QIcon} from 'quasar'
  export default {
    components: {
      QBtn,
      QIcon
    },
    data () {
      return {
        loading: true,
        patient: {
          //          Others informations
          user: {
            id: '584',
            email: 'test@gmail.com',
            first_name: 'Viviane',
            last_name: 'Gorwanabe',
            type: 'patient',
            avatar: 'statics/medecin.png',
            phone: '/veriad/home'
          }
        },
        doctor: {
          //          Others informations
          user: {
            id: '584',
            email: 'test@gmail.com',
            first_name: 'Jean de Dieu',
            last_name: 'Grunch',
            type: 'patient',
            avatar: 'statics/medecin.png',
            phone: ''
          }
        }
      }
    },
    methods: {
      callEmit: function () {
        var ring = document.querySelector('#ring')
        ring.play()
        setTimeout(function () {
          ring.pause()
        }, 15000)
      }
    },
    mounted: function () {
      window.onbeforeunload = function () {
        this.$peer.disconnect()
      }
      let peer = this.$peer
      navigator.webkitGetUserMedia({
        video: true,
        audio: true
      }, function (stream) {
        document.querySelector('#me').src = URL.createObjectURL(stream)
        peer.on('open', function (id) {
          alert('Please copy this id: ' + id)
        })
        peer.on('call', function (call) {
          call.answer(stream)
          call.on('stream', function (remoteStream) {
            document.querySelector('#you').src = URL.createObjectURL(remoteStream)
          })
        })
      }, function (err) {
        console.log(err)
      })
    }
  }
</script>
<style lang="stylus">
  #partII
    margin: 0 auto
    width: 100%
    height: 100%
    overflow: auto

  #you
    width: 100%
    height: 100%

  #me
    width: 30%
    height: auto
    position: fixed
    right: 0
    bottom: 0
    z-index: 1000

  img.avatar
    border-radius 50%

  img.bigAvatar
    height 250px
    width 250px
</style>
